@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

body {
    font-family: 'Noto Kufi Arabic', sans-serif;
    background-color: rgb(8, 6, 34);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,60,1) 49%, rgba(9,47,55,1) 100%);
    color: white;
    background-repeat: no-repeat;
}

header {
    position: sticky;
    z-index: 100;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    border-radius: 50px;
}
.links a {
    text-decoration: none;
    color: white;
    display: block;
    margin-right: 10px;
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
    border: 10px solid black;
    font-size: 30px;
}
.links li {
    display: inline;
    float: right;
}
#title {
    float: left;
    padding-left: 20px;
    font-size: 20px;

}
#img {
    float: left;
}
::-webkit-scrollbar {
    display: none;
}

#adventure {
    border: 350px solid transparent;
    border-radius: 50px;
}
#horror {
    border: 250px solid transparent;
    border-radius: 50px;
}
#fiction {
    border: 200px solid transparent;
    border-radius: 50px;
}
.title {
    position: relative;
    top: -400px;
    text-align: center;
    font-size: 50px;
    box-shadow: 10px 10px 10px black;
    border: 10px solid black;
    border-radius: 50px;
    background-color: black;
}
.footer {
    border: 20px solid transparent;
}
.container {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap:wrap;
}
.box {
    border: 1px solid black;
    background-color: black;
    position: relative;
    top: -300px;
    margin: 50px;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px black;
}

.box h3{
    font-size: 20px;
    text-align: center;
}
.box p {
    text-align: center;
}
.box img {
    background-color: black;
    color: black;
    border: 1px solid transparent;
    size: auto;
    width: 500px;
    border-radius: 50px;
}
.box:hover {
    cursor: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" height="50" width="100"><text y="25" font-size="30">👀</text><path d="M0,2 L0,0 L2,0" fill="red" /></svg>'), auto;
}

a {
    text-decoration: none;
    color: white;
}
button {
    color: black;
    background-color: aqua;
    border-radius: 10px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    size: 200px;
    left: 2200px;
    position: relative;
}
button:hover {
    cursor: pointer;
}
/* cards flip */

.flip-card {
    border-radius: 50px;
    background-color: black;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    perspective: 1000px;
  }
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
.flip-card-front, .flip-card-back {
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
.flip-card-front {
    background-color: black;
    color: black;
  }
  
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
  